body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(green, white);
    width: 100vw;
    height: 100vw;
    color: whitesmoke;
    text-shadow: 0 0 4px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.winnerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}

button {
    border-radius: 5px;
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    cursor: pointer;
    background-color: rgb(137, 112, 81);
}

#rock:hover {
    transform: scale(1.3);
}

#paper:hover {
    transform: scale(1.3);
}

#scissors:hover {
    transform: scale(1.3);
}

.active {
    transform: scale(1.3);
}

footer {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 120px;
}